body
{
    background-color: rgb(210, 248, 235);;
}
h1
{
    text-align: center;
    background-color: aquamarine;
}

img
{  
    border: 10px solid gray;  
    border-radius:5px;  
    margin-left:320px;  
}  

p
{
   
    font-size: 25px;
}